body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cart {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.btn-plus,
.btn-minus,
.btn-delete,
.btn-like {
    cursor: pointer;
    background-color: #f4f4f4;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
}

.btn-delete {
    color: red;
}

.btn-like {
    font-size: 20px;
}

.liked {
    color: red;
}

.total-price {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    text-align: right;
    display: block;
    margin-top: 20px;
}
